fastapi==0.115.5
uvicorn[standard]==0.32.1
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
alembic==1.14.0
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic[email]==2.10.3
python-jose[cryptography]==3.4.0
bcrypt==4.2.1
redis[asyncio]==5.2.1
aio-pika==9.4.3
prometheus-fastapi-instrumentator==7.0.0
httpx==0.28.1
